{% assign education = site.data.data.education %}
{% if education %}
<section class="section section--alt" id="education">
  <h2 class="section__title">Education</h2>
  <div class="edu-list">
    {% for edu in education %}
    <div class="edu-item">
      <div class="edu-item__header">
        <h3 class="edu-item__degree">{{ edu.degree }}</h3>
        <span class="edu-item__time">{{ edu.time }}</span>
      </div>
      <p class="edu-item__university">{{ edu.university }}</p>
      {% if edu.supervisor %}
        <p class="edu-item__detail">Advisor: {{ edu.supervisor }}</p>
      {% endif %}
      {% if edu.gpa %}
        <p class="edu-item__detail">GPA: {{ edu.gpa }}</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
