<nav class="navbar" id="navbar">
  <div class="navbar__inner">
    <div class="navbar__brand-spacer"></div>
    <button class="navbar__toggle" id="nav-toggle" aria-label="Toggle navigation">
      <span></span><span></span><span></span>
    </button>
    <ul class="navbar__links" id="nav-links">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
      <li><a href="{{ site.baseurl }}/{{ site.data.data.profile.links.cv }}" target="_blank">CV</a></li>
    </ul>
  </div>
</nav>
