---
layout: default
---
<article class="blog-post">
  <a href="{{ site.baseurl }}/#publications" class="back-link">&larr; Back to publications</a>

  <h1 class="blog-post__title">{{ page.title }}</h1>

  <div class="blog-post__meta">
    <p class="blog-post__authors">{{ page.authors }}</p>
    <p class="blog-post__venue">{{ page.venue_full }}</p>
  </div>

  <div class="blog-post__links">
    {% if page.arxiv != "" %}
      <a href="{{ page.arxiv }}" class="btn" target="_blank">arXiv</a>
    {% endif %}
    {% if page.pdf != "" %}
      <a href="{{ page.pdf }}" class="btn" target="_blank">PDF</a>
    {% endif %}
    {% if page.code != "" %}
      <a href="{{ page.code }}" class="btn" target="_blank">Code</a>
    {% endif %}
    {% if page.project != "" %}
      <a href="{{ page.project }}" class="btn" target="_blank">Project</a>
    {% endif %}
  </div>

  {% if page.thumbnail != "" %}
  <div class="blog-post__thumbnail">
    <img src="{{ site.baseurl }}/assets/images/publications/{{ page.thumbnail }}" alt="{{ page.title }}">
  </div>
  {% endif %}

  <div class="blog-post__content">
    {{ content }}
  </div>
</article>
